#!/usr/bin/env bash

alias g="git"
alias gs="g s"
alias gf="git fetch"
alias ez="exec -l zsh"
alias zl="z -l"
alias zc="z -c"
alias gr="cd \$(git root)"
alias gcss="git conflicts | xargs git status -s"
alias gcp="git cherry-pick"
alias pip="python -m pip"
