#!/usr/bin/env bash

export ZSH="~/.oh-my-zsh"
export EDITOR='vim'
export NVM_DIR="$HOME/.nvm"
export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_NDK=$HOME/Library/Android/sdk/ndk
export GEM_HOME=$HOME/.gem/ruby/2.6.0
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$HOME/.local/bin:$GEM_HOME/bin:$COMMAND_HOME:/Applications/Visual Studio Code.app/Contents/Resources/app/bin:$ANDROID_HOME/tools/bin:$ANDROID_HOME/platform-tools:$ANDROID_NDK:$HOME/tool:$PATH"
export DEVELOPER_DIR=/Applications/Xcode.app/Contents/Developer
export THEOS=~/theos
export VIRTUALENVWRAPPER_PYTHON=/usr/local/opt/python@3.8/bin/python3
export WORKON_HOME=~/PythonEnvs
export VIRTUALENVWRAPPER_SCRIPT=/usr/local/bin/virtualenvwrapper.sh
source $VIRTUALENVWRAPPER_SCRIPT
export PATH="/usr/local/opt/bison/bin:$PATH"
export JENV_ROOT=/usr/local/opt/jenv