#!/usr/bin/env bash

export EDITOR='vim'
export HISTORY_IGNORE="(ls|cd|pwd|exit|fg|bg|gf|gs|z|make|open|ll|clion|...|..|tree|ez|tmp|open|echo|code|clion|studio|idea|goldendict|tmux)"
export CLANG_CONFIG_FILE_USER_DIR=$HOME

bindkey -s '\eo' '..\n'
bindkey -s '\e;' 'll\n'
bindkey -s '\ev' '^Avim ^E'

# __joined_path=$(IFS=: ; echo "${path_candidates[*]}")
# export PATH="${__joined_path}:$PATH"
# unset __joined_path

[ -z "$ld_library_path"  ] && typeset -T LD_LIBRARY_PATH ld_library_path
[ -z "$manpath"  ] && typeset -T MANPATH manpath
typeset -U path fpath manpath ld_library_path

