#!/usr/bin/env bash

export EDITOR='vim'
export PATH="$HOME/.local/bin:/Applications/Visual Studio Code.app/Contents/Resources/app/bin:/usr/local/opt/bison/bin:$HOME/go/bin:/usr/local/opt/gnu-sed/libexec/gnubin:/usr/local/opt/sqlite/bin:$PATH"
export DEVELOPER_DIR=/Applications/Xcode.app/Contents/Developer
export THEOS=~/theos
export CHEAT_CONFIG_PATH="$HOME/.cheat.yml"
# cheat integrate with fzf
export CHEAT_USE_FZF=true
# nnn plugins
export NNN_PLUG='f:finder;o:fzopen;p:mocq;d:diffs;t:nmount;v:imgview'
export HISTORY_IGNORE="(ls|cd|pwd|exit|fg|bg|gf|gs|z|make|open|ll|clion|...|..|tree|ez|tmp|open|echo|code|clion|studio|idea|goldendict|tmux)"
export FZF_DEFAULT_COMMAND='rg --files --hidden -g "!.git" '
HISTSIZE=999999999
SAVEHIST=$HISTSIZE
