source ~/.vimrc

set surround
set commentary
set sneak
set ideamarks

set clipboard+=ideaput
set clipboard+=unnamed
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap \z :action ToggleDistractionFreeMode<CR>
map \b :action CMake.CompileCurrentFile<CR>
map H h
map U <C-R>

nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>

nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap ga :action GoToMenu<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>